span.
    @using NewlyReadv3.Tools;
    @{
        ViewBag.Title = ViewBag.Category;
    }
h2 Featured Articles
p @ViewBag.Message
span.articles.
    @foreach(var source in ViewBag.Articles){
        <a href="~/Home/ViewArticle?url=@source.url&title=@source.title" class="article">
            <paper-card>
                <div class="card-image">
                    <img class="lazyload" onerror="imgError(this);" src="~/images/news.png" data-src="@source.urlToImage" alt="Missing Article Image">
                </div>
                <div class="card-content">
                    <div class="foot">
                        <small class="light">@StringTools.GetDomainName("" + source.url) | @source.author</small>
                        <small class="light">@source.publishedAt</small>
                    </div>
                    <h4>@source.title</h4>
                </div>
            </paper-card>
        </a>
    }