h2 Recent Articles
div.articles
script.
    $(function(){
        callAPI("extracted").then(json => {
            json.map(obj => {
                let content = JSON.parse(obj.content);
                let featuredArticle = new FeaturedArticle(encodeURIComponent(content.pageUrl), content.title, content);
                featuredArticle.add(".articles");
                FeaturedArticles.push(featuredArticle);
            });
            setRules();
        });
    });