span.
    @using NewlyReadv3.Tools;
h2 Featured Articles
span.articles.
    @foreach(dynamic article in ViewBag.Articles){
        <a href="~/Home/ViewArticle?url=@article.original_url&title=@article.title" class="article">
            <paper-card>
                <div class="card-image">
                    @if(article.images.Count > 0){
                        <img class="lazyload" src="~/images/news.png" data-src="@article.images[0].url" alt="Missing Article Image">
                    }else{
                        <img class="lazyload" src="~/images/news.png" alt="Missing Article Image">
                    }
                </div>
                <div class="card-content">
                    <h4>@article.title</h4>
                    <p>@StringTools.Concat("" + article.description, 100)...</p>
                    <p>@StringTools.GetDomainName("" + article.provider_url)</p>
                </div>
            </paper-card>
        </a>
    }