
h2 Featured Articles
span.
    @foreach(var source in ViewBag.Articles){
        <p>@source</p>
    }
//- div.featured
//-     each val in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 17, 19, 20, 21]
//-         div.article
//-             div.card-content
//-                 img(src="https://unsplash.it/800/600")
//-                 h4 Samsung is making extra-sure the galaxy s8's battery won't explode
//-                 p Samsung’s next big thing is just around the corner. Unlike in previous years, the brand new Galaxy flagship’s job won’t solely be to fight off …