//- Index.pug (HomePage)
span.
    @{
        ViewBag.Title = "Home";
    }
div#banner
    div#banner_msg
        img(src="" data-src="images/banner_background.jpg").lazyload
        h1 NewlyRead
        p Read the News
        
include FeaturedArticles.pug