//- Index.pug (HomePage)
span.
    @{
        ViewBag.Title = "Home";
    }
div#banner
    div#banner_msg
        img(src="" data-src="images/dmitry-ratushny-banner.jpg" alt="Looking through a pair of glasses towards a book: By Dmitry Ratushny").lazyload
        h1 NewlyRead
        p Read the News
        
include FeaturedArticles.pug