span.
    @using NewlyReadv3.Tools;
    @{
        ViewBag.Title = ViewBag.Article.objects[0].title;
    }
div.reader
    h2 @ViewBag.Article.objects[0].title
    small @StringTools.GetDomainName(@ViewBag.Original)
    a(href="@ViewBag.Original" target="_blank") Original Article
    div.content @Html.Raw(ViewBag.Article.objects[0].html)