span.
    @using NewlyReadv3.Tools;
div.reader.
    <h4>@ViewBag.Article.title</h4>
    <small>@StringTools.GetDomainName(@ViewBag.Original)</small>
    <a href="@ViewBag.Original" target="_blank">Original Article</a>
    @Html.Raw(ViewBag.Article.content)