<Index class="pug">(HomePage)</Index><div id="banner"><div id="banner_msg"><h1>NewlyRead</h1><p>Stupid Simple News</p></div></div><h2>Featured Articles</h2><span>@foreach(var source in ViewBag.Articles){
    <p>@source</p>
}</span>