<span>@{
    ViewBag.Title = "Home";
}</span><div id="banner"><div id="banner_msg"><img class="lazyload" src="" onerror="imgError(this);" data-src="images/dmitry-ratushny-banner.jpg" alt="Looking through a pair of glasses towards a book: By Dmitry Ratushny"/><h1>NewlyRead</h1><p>Read the News</p></div></div><h2>Recent Articles</h2><div class="articles"></div><script>$(function(){
    callAPI("extracted").then(json => {
        json.map(obj => {
            let content = JSON.parse(obj.content);
            let featuredArticle = new FeaturedArticle(encodeURIComponent(content.pageUrl), content.title, content);
            featuredArticle.add(".articles");
            FeaturedArticles.push(featuredArticle);
        });
        setRules();
    });
});</script>