<div id="banner"><div id="banner_msg"><img class="lazyload" src="" data-src="images/banner_background.jpg"/><h1>Read the News</h1></div></div><span>@using NewlyReadv3.Tools;
@using Newtonsoft.Json;</span><h2>Click on one of the categories in the menu to the left to get started.</h2>