doctype html
html(lang="en")
    head
        title @ViewBag.Title | NewlyRead
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(name="author" content="Zafuzi Industries")
        meta(name="web_author" content="Zachary Foutz")
        meta(name="robots" content="index, follow")
        meta(name="copyright" content="Copyright 2017 Zafuzi Industries, All Rights Reserved")
        meta(name="description" content="NewlyRead is a simple news site that provides you with the news as quickly as possible.")
        link(rel="stylesheet" href="~/components/normalize-css/normalize.css")
        link(rel="stylesheet" href="~/css/styles.css")
        //- link(rel="import" href="~/components/polymer/polymer.html")
        include _LayoutComponents.pug

    body
        header
            a(href="~/") Home
            a(href="~/About") About
            div.dropdown
                button.dropbtn Categories
                div.dropdown-content
                    a(href="~/Home/Category?category=business") Business
                    a(href="~/Home/Category?category=entertainment") Entertainment
                    a(href="~/Home/Category?category=gaming") Gaming
                    a(href="~/Home/Category?category=general") General
                    a(href="~/Home/Category?category=music") Music
                    a(href="~/Home/Category?category=science-and-nature") Science &amp; Nature
                    a(href="~/Home/Category?category=sport") Sports
                    a(href="~/Home/Category?category=technology") Technology
                    
        main#content @RenderBody()

        script(type="text/javascript" src="~/components/jquery/dist/jquery.min.js")
        script(type="text/javascript" async src="~/components/fetch/fetch.js")
        script(type="text/javascript" defer async src="~/components/lazysizes/lazysizes.min.js")
        script(type="text/javascript" src="~/sw.js")
        script(type="text/javascript" defer src="~/scripts/jquery.sticky.js")
        script(type="text/javascript" defer src="~/scripts/seed.js")
        script(type="text/javascript" async defer).
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-73276036-1', 'auto');
            ga('send', 'pageview');
        block scripts